run = "npm run dev -- --hostname 0.0.0.0 --port 3000"
hidden = [".next", "node_modules"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]
build = ["sh", "-c", "npm run build"]

[env]
PORT = "3000"
